#overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5); */
  background-color: rgb(225 225 225 / 15%);
  z-index: 2;
}
.nav-link_disable{
  color: #b5b5b5;
  cursor: default;
  text-align: center;
  display: grid !important;
  position: relative;
  background: transparent;
  padding: 7px 15px !important;
  font-weight: 400 !important;
  font-size: 13px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.nav-link_disable:hover{
  color: #b5b5b5;
  cursor: default;
  
}
.nav_menu_dv{
  margin: 0px 0px;
  /* border-bottom: 1px solid red; */
}
.op_style{
  padding: 0px 0px;
  font-size: 13px;
  margin: 0px 0px;
  display: flex;
  color: #9b9b9b;
}
.version_class_new{
  margin: 0px 0px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  font-weight: 600;
  color: #a1a1a1;
}
.az-footer .container-fluid{
  padding: 0px 0px 0;
}
.field-icon {
  margin-top: -25px;
  position: absolute;
  z-index: 2;
  right: 7px;
  cursor: pointer;
}
.react-tabs{
  position: relative;
  display: inline-grid;
}
.react-tabs__tab-list{
    border-bottom: 1px solid #1262b5 !important;
    position: relative; 
    z-index: 1;  
    clear: both;
    margin: 0;
    padding-top: 15px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    /* width: 1300px; */
    height: 34px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.react-tabs__tab--selected {
  background: #1262b5 !important;
  color: white !important;
  border-radius: 5px 5px 0 0 !important;
  border-color: #1262b5 !important;
}
.react-tabs__tab-list .react-tabs__tab{
  display: inline-block;
  border: 1px solid #1262b5 !important;
  font-size: 13px;
  border-radius: 5px 5px 0 0 !important;
}
.react-tabs__tab-list::-webkit-scrollbar {
  height: 3px;
}

/* Track */
.react-tabs__tab-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.react-tabs__tab-list::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.react-tabs__tab-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.fixed_table_header{
  display: inline-block;
  height: 400px;
  overflow: auto
}
.fixed_table_header table th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}
.table>tbody>tr>td{
  padding: 2px !important;
}
.padd_right_0{
  padding-right: 0px;
}
.chart_content_div{
  margin-right: 20px;
  position: relative;
}
.chart_content_div::after{
    height: 40px;
    display: block;
    width: 1px;
    background: #e5e5e5;
    border-right: 1px white;
    content: '';
    position: absolute;
    top: 10px;
    right: -10px;
}
/* .chart_content_div .chart_content_div::after:last-child {
  border-right: 0;
} */

/* .d-flex .chart_content_div:not(:last-child):after{
  border-right: 0;
}
.d-flex .chart_content_div:last-child:after {
  border-right: 0;
  content: '';
} */
.d-flex .chart_content_div:last-child::after {
  border-right: 0;
  content: '';
  display: none;
}

.chart_content_details{
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 13px;
}
.chart_content_details.remove_bold{
  font-weight: 600;
  color: #1e1e1e;
  line-height: 1.4;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 10px;
}
.SubgroupSizeSave{
  font-size: 13px;
    font-weight: 600;
    color: #000;
     
    background: #f0f0f0;
    padding: 0px 15px;
    border-radius: 3px;
    height: 32px;
    margin: 0px 5px;
    line-height: 32px;
}
.leftmenu_style{
  padding-left: 10px;
  line-height: 1.2;
}
#Characteristics .table>tbody>tr>td{
  padding: 6px 8px !important;
}
.list_name_class{
  padding-left: 20px !important;
}
.tree_part_padd_left{
  padding-left: 15px;
}
.tree_part_padd_left ol li{
  margin-bottom: 10px;
}
.tree_part_padd_left ol li.rct-node-leaf{
  margin-bottom: 0px;
}

.tabclose_icon{
  padding-left: 8px;
  color: #1262b5;
  font-size: 14px;
}
.react-tabs__tab.react-tabs__tab--selected .tabclose_icon{
  color: #fff;
}


.az-header-menu .nav-item > .nav-link{
  background: transparent;
  padding: 7px 15px !important;
  font-weight: 400 !important;
  /* color: rgb(28, 39, 60) !important; */
}
.az-header-menu .nav-item > .nav-link.active{
  color: #424242;
  background: #fbfbfb;
  padding: 7px 15 px;
  font-weight: 600;
}

.wrapperrr_div_close{
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  transform: translate(0%, 0%);
  cursor: pointer !important;
  background-color: #424242;
  color: #fff;
  padding: 2px 5px;
  outline: none;
  border: 1px solid #424242;
  border-radius: 0px;
}

.wrapperrr_div_open{
  position: absolute;
  z-index: 101;
  display: block;
  top: 37%;
  left: 0;
  transform: translate(0%, 0%);
  cursor: pointer !important;
  background-color: #424242;
  color: #fff;
  padding: 10px 5px;
  outline: none;
  border: 1px solid #424242;
  border-radius: 0px;
  transition: .25s linear;
  user-select: none;
}
#openNavi{
  opacity: 0;
}


#main {
    transition: .25s;
    padding: 25px;
    /* position: relative;
    z-index: 99999999;
    background: #fff; */
    min-height: 82vh;
    height: 82vh;
    overflow: auto;
}

/* ----------------------sdebar end------------------------- */
.far{
  font-size: 14px;
}
.modfy_characterstc tr td{
  cursor: pointer;
}
.operator_class{
  width: 150px;
  min-width: 150px;
  max-width:150px;
}
.az-footer.mg-t-auto i{
  font-size: 15px;
}
.az-header-menu .nav>li{
  border-right: 1px solid #e5e5e5;
}
.az-header-menu .nav>:last-child{
  border-right: none;
}
.chart_head_text{
  font-size: 13px;
  text-transform: capitalize;
  color: #031b4e;
  font-weight: 500;
}
.attachment_icon{
  color:#3366ff;
}
.attachment_icon:hover{
  color:#143cb3;
  cursor: pointer;
}
.char_add{
  float: right;
  color: #002bff;
  position: relative;
  top: 2px;
  font-size: 15px;
  cursor: pointer;
}
.char_add:hover{
  color: #041ea1;
}
.version_class{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4px 15px;
  font-size: 10px;
  color: #c9c9c9 !important;
  border-top: 1px solid #e3e7ed;
  background-color: #f3f3f3;
  width: 219px;
  border-right: 1px solid #e3e7ed;
}
.version_class p{
  margin-bottom: 0;
  line-height: 1.4;
}
.az-header-menu .nav-item > .nav-link::before{
  border-right:1px solid red;
  position: relative;
  z-index: 11111;
}
.chart_table thead, .chart_table tbody{
  display: contents;
}
.FromClass{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
  padding: 3px 5px;
}
.ToClass{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
  padding: 3px 5px;
}
.shift_custom_width{
  flex: 0 0 13%;
  width: 13% !important;
  max-width: 13%;
}
.Operator_check{
  background-color: #e5f6fe;
  padding:10px 15px;
  margin-top: 10px;
}
.Operator_check p{
  font-size: 12px;
  padding-left: 30px;
}

.search-form {
  position: relative;
  /*top: 50%;
  left: 50%;*/
  width: 84%;
  height: 40px;
  border-radius: 5px;
  /* box-shadow:0 0px 5px rgb(0 0 0 / 15%); */
  /*-webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);*/
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  background: #efefef;
  box-shadow: none;
  
}
.search-form.focus {
  /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15); */
  box-shadow: none;
}

.search-input {
  position: relative;
  top: 8px;
  left: 25px;
  font-size: 13px;
  background: none;
  color: #5a6674;
  width: 125px;
  height: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-button {
  position: absolute;
  top: 11px;
  left: 7px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
  color: #9b9b9b;
}
.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 7px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.search-option div label {
  display: block;
  cursor: pointer;
}
.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  pointer-events: none;
}
.search-option div:hover svg {
  opacity: 1;
}
.search-option div input:checked + label svg {
  fill: #e24040;
  opacity: .9;
}
.search-option div input:checked + label span {
  background: #e24040;
}
.search-option div input:checked + label span::after {
  border-top-color: #e24040;
}
.az-content-left-components .component-item label .fa.fa-times-circle{
  color: #9b9b9b;
  font-size: 14px;
  top: 0px;
  position: relative;
}
.az-content-left-components .component-item label .fa.fa-filter{
  color: #9b9b9b;
  font-size: 14px;
  top: 0px;
  position: relative;
}
.custom_label{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
}


/*---------Accordian Start -------------*/
#accordion{
  margin-bottom: 15px;
}
#accordion .card-header a{
    display: flex;
    justify-content: space-between;
    color: #424242;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
#accordion .card-header a i{
    position: absolute;
    right: 15px;
    top:11px;
}

[aria-expanded="true"] i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    
}
/*---------Accordian End -------------*/
.left_menu{
  /* width: 90%; */
  width: 100%;
  padding-bottom: 18px;
  /* padding-left: 15px; */
}
.add_btn{
  padding: 8px 8px;
  margin-top: 15px;
  font-weight: 600;
  position: fixed;
  bottom: 40px;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  line-height: 33px;
  border: 1px solid #3a72d1;
  left:11.5%;
  transition: .25s;
}
.add_btn i{
  font-size: 20px;
}
.Add_Gauge_btn{
  font-size: 12px;
  line-height: 1;
  min-height: 20px;
  padding: 5px 8px;
  margin-bottom: 5px;
}
.plus_circle_style{
  color: #7987a1;
}
.palletCSS{
  display: flex;
}
.react-datepicker-wrapper{
  width: 100%;
}
.daterangecss{
  width: 100%;
  display: flex;
  min-width: 100%;
  max-width: 100%;
}
/*----------------Tab Start--------------*/
.custom_tabs{
  margin-bottom: 15px;
}
.custom_tabs .nav-tabs {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2e47dd;
  background-color: #fff;
}

.custom_tabs .nav-tabs .nav-link{
  background-color: transparent;
  color: #2e47dd;
}
.custom_tabs .nav-tabs .nav-link.active{
  background-color: #2e47dd;
  color: #fff !important;
  border-bottom: 1px solid #2e47dd;
}
.custom_tabs .tab-content{
  border:1px solid #cdd4e0;
  border-top:none;
  padding:10px 10px;
}
.custom_tabs .nav-tabs>li.active>a, .custom_tabs .nav-tabs>li.active>a:focus, .custom_tabs .nav-tabs>li.active>a:hover{
  border: 0px solid #ddd;
  border-bottom: 1px solid #2e47dd;
}
.custom_tabs .nav-tabs>li>a{
  margin-right:0px;
}
/*----------------Tab End--------------*/

/*-----------------Scrollable Table Start----------------*/
.table_wrapper .hack1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table_wrapper .hack1 .hack2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}
/*-----------------Scrollable Table Start----------------*/

/*---------------- tree view start ---------------*/
.rct-collapse *, .rct-checkbox *, .rct-node-icon *{
  font-size: 12px !important;
}
.react-checkbox-tree{
  font-size: 13px !important;
}
.rct-text{
  margin-bottom: 5px;
}
.rct-title{
  padding: 0 0px !important;
}
.react-checkbox-tree ol ol{
  padding-left: 14px !important;
}
.react-checkbox-tree ol ol ol li.rct-node .rct-text .rct-collapse .rct-icon{
  width: 0px; 
}
.react-checkbox-tree label{
  text-transform: initial !important;
  font-weight: 400 !important;
}
.rct-icons-fa4 .rct-icon-expand-open::before, .rct-icons-fa4 .rct-icon-expand-close::before{
  font-size: 11px !important;
  color: #ec3338;
}
.react-checkbox-tree .rct-icon{
  font-size: 13px !important;
  line-height: 1;
}
.react-checkbox-tree button{
  outline: none;
  padding-right: 3px;
}
.rct-icons-fa4 .rct-icon-check::before{
  color: #ec3338;
}
.rct-checkbox{
  padding: 0 5px 0px 0px !important;
  width: 11px;
}
/*---------------- tree view end ---------------*/
.custm_fieldset{
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
    padding: 5px 15px;
}
.custm_fieldset legend{
  font-size: 14px;
  width: auto;
  padding: 0px 5px;
  border-bottom: none;
}
.form_height_28{
  height: 27px;
}
.nopadding{
  padding:0px;
}
.shift_style{
  background-color: #f0f0f0;
  padding: 10px 10px;
  margin-top: 10px;
}
.dash_class{
  line-height: 2;font-weight: 600;margin-bottom: 0;
}
.interval_style{
  line-height: 2;margin-bottom: 0px;
}
.custom_width{
  width: 33.3333%;
  min-width: 33.3333%;
  max-width: 33.3333%;
}
.custom_width_cartType{
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}
.font_12{
  font-size:12px;
}
.star_mark{
  color:red;
  font-size: 12px;
  text-transform: initial;
  font-weight: 500;
}
.text-suceess-color{
  color: #05d9a8;
  font-weight: 500;
}
.text-failed-color{
  color: #dc3545;
  font-weight: 500;
}
.az-profile-menu > .az-img-user i{
  font-size: 25px;
  color: #1c273c;
  line-height: 1.3;
}
.az-header-menu .nav-item > .nav-link{
  text-align: center;
  /* display: block; */
  display: grid;
  position: relative;
  padding: 0px 15px;
  cursor: pointer;
}
.az-header-menu .nav-item > .nav-link.with-sub::after{
    position: absolute;
    right: 5px;
}
.table_width_60{
  width: 60%;
}
.material-icons-outlined{
  font-size: 19px;
  font-weight: 400;
}

@media(max-width: 768px){
  .az-header-menu .nav-item > .nav-link{
    text-align: left;
    display: flex;
  }
  .az-header-menu .nav-item > .nav-link i {
    padding-right: 15px;
    width: 22px;
    margin-right: 10px;
  }
}
@media(max-width: 480px){
  body{
    padding-top: 0px !important;
  }
  .az-header-menu .nav-item > .nav-link.with-sub::after {
    position: absolute;
    right: 0px;
  }
  .table_width_60{
    width: 100%;
  }
  .typcn-arrow-sync_btn{
    margin:5px 0px;
    text-align: center !important;
  }
  .az-header-menu .nav-item > .nav-link i {
    padding-right: 15px;
    width: 22px;
    margin-right: 10px;
  }
  .az-header-menu .nav>li{
    border-right: 0px solid #ededed;
  }
}

.az-header-menu .nav-item > .nav-link i{
  font-size: 18px;
}
.forgot_pass{
  position: relative;
}
.eye_css{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #a3a3a3;
    z-index: 1;
    cursor: pointer;
}
.txt_tansform{
  text-transform: initial !important;
}
.custom_form_height_28{
  height: 28px;
}
.icon_font{
  font-size: 14px;
  padding: 0px 3px;
}
.fa-arrow-down.icon_font, .fa-arrow-up.icon_font{
  color:green;
  cursor: pointer;
}
.fa-arrow-down.icon_font:hover, .fa-arrow-up.icon_font:hover{
  color:rgb(4, 78, 4);
}
.fa-edit.icon_font{
  color: blue;
  cursor: pointer;
}
.fa-edit.icon_font:hover{
  color: rgb(5, 5, 109);
}
.fa-trash.icon_font{
  color: #ec3237;
  cursor: pointer;
}
.fa-trash.icon_font:hover{
  color: #8a1014;
  cursor: pointer;
}
.add_characteristic_table{
  font-size: 23px;
  margin-left: 5px;
  color: #2e47dd;
  cursor: pointer;
}
.add_characteristic_table:hover{
  font-size: 23px;
  margin-left: 5px;
  color: rgb(27, 64, 177);
}

/*---------------Treeview Checkbox Start------------------*/

.acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
.acidjs-css3-treeview label{
  display: initial !important;
  text-transform: initial !important;
  font-weight: 500 !important;
}
.acidjs-css3-treeview label ~ label{
  margin-top: 0px !important;
}

.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 0px 0 0;
    width: 15px;
    height: 15px;
    vertical-align: top;
    text-align: center;
    color: #e74c3c;
    font-size: 8px;
    line-height: 13px;
}
 
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 15px;
}
 
.acidjs-css3-treeview *
{
    vertical-align: middle;
}
 
.acidjs-css3-treeview
{
    font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
}
 
.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 9px 0px 0px;
}
 
.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}
 
.acidjs-css3-treeview label
{
    cursor: pointer;
}
 
.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}
 
.acidjs-css3-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.acidjs-css3-treeview label span::before
{
    content: "";
    border: solid 1px #1375b3;
    color: #1375b3;
    opacity: .50;
}
 
.acidjs-css3-treeview label input:checked + span::before
{
    content: "\2714";
    /*box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;*/
    opacity: 1;
    font-size: 11px;
}
/*---------------Treeview Checkbox End------------------*/
.modal_center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.active_status{
    position: absolute;
    right: 15px;
    color: #11bb7c;
}
@media (min-width: 1400px) and (max-width: 1920px){
  #main{
    min-height: 90vh;
    height: 90vh;
  }
  .add_btn{
  left: 8.5%;
  bottom: 50px;
  }
  .modal-dialog{
    max-width: 651px;
  }
  .daterangecss{
    display: block;
  }
}
@media (min-width: 992px){
  .az-header-menu .nav-item > .nav-link{
    text-align: center;
    /* display: block; */
    display: grid;
  }
  .az-header-menu .nav-item.active > .nav-link::before{
    bottom: -11px;
  }
}


@media (max-width: 480px){
  .az-header-menu .nav-item > .nav-link .typcn~ br{
    display: none;
  }
  .az-header-menu .nav-item > .nav-link{
    text-align: left;
    display: flex;
  }
  .az-header-menu .nav-item > .nav-link i{
    padding-right:20px;
  }
}


.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}

@media (min-width: 768px) {
  .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
}

@media (min-width: 992px) {
  .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
}
@media (min-width: 1200px) {
  .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
}


